main {
    min-height: calc(100vh - 74px);
}

.base-body {
    margin-top: 6.5em;
}

.auth-content {
    height: auto;
    margin: 2em 33% 0;
    padding: 1em;
    border: 1px solid lightgray;
}

.auth-legend {
    text-align: center;
}

.bg-footer-header, .new-reminder {
    background-color: #1A8DC2;
    color: white;
}

.new-reminder:hover {
    background-color: white;
    color: #1A8DC2;
}

.bg-reminder-card {
    background-color: #006E9E;
}

.card {
    background-color: #006E9E;
    color: white;
}


.footer-list {
    color: #1A8DC2;
}

.jumbotron-main, .logout {
    text-align: center;
}

.motivation-header, .feature-overview-header {
    padding-left: 0.5em;
    padding-bottom: 0.25em;
    font-size: 2em;
}

.nav-item {
    font-size: 1.1em;
}

.navbar-brand {
    font-size: 2em;
}

.register-success-alert {
    margin: 0 33% 0.5em;
}

.reminder-card-title, .card-link-button, .new-reminder {
    color: white;
}

.reminder-card-title:hover {
    color: lightgrey;
}

.reminder-card-img {
    width: 100%
}

.reminder-detail {
    padding: 1em;
    width: 30em;
}

.reminders-page {
    margin-bottom: 2em;
}

.reminders-page-list {
    padding: 2em;
    background-color: #E9E9E9;
}

.site-footer {
    height: 74px;
}

.card-link-button:hover {
    background-color: white;
    color: #1A8DC2;
}

.card-link-delete:hover {
    background-color: white;
    color: #B32F2F;
}


.reminder-detail-timings {
    color: black;
}

.reminder-card-body {
    background-color: white;
    color: black;
}
