{% extends 'app/base.html' %}
{% block content %}
    <div class="card reminder-detail">
        <img src="{{ object.medicine_image.url }}" class="reminder-card-img">
        <div class="card-body">
            <h3 class="card-title">{{ object.title}}</h3>
            <p class="card-text">{{ object.description }}</p>
            </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ object.time_1 }}</li>
                    <li class="list-group-item">{{ object.time_2 }}</li>
                    <li class="list-group-item">{{ object.time_3 }}</li>
                    <li class="list-group-item">{{ object.time_4 }}</li>
                </ul>
                <div class="card-body">
                    <div class="btn-group">
                        <a href="{% url 'reminder-update' object.id %}" class="btn btn-secondary">Update</a>
                        <a href="{% url 'reminder-delete' object.id %}" class="btn btn-primary">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}