{% extends 'app/base.html' %}
{% block content %}
<div class="text-center">
    <div class="row container-fluid justify-content-center">
        <div class="card reminder-detail">
            <div class="card-body">
                <h3 class="card-title">{{ object.title}}</h3>
                <p class="card-text">{{ object.comments }}</p>
            </div>
            <ul class="list-group list-group-flush reminder-detail-timings">
                <li class="list-group-item">{{ object.date|date:"d F Y" }}</li>
                <li class="list-group-item">{{ object.time|time:'H:i' }}</li>
                <li class="list-group-item">Reading : {{ object.systolic}} / {{ object.diastolic }}
            </ul>
            <div class="card-body">
                <div class="btn-group mr-4">
                    <a class="btn btn-secondary" href="{% url 'bp-update' object.id %}" >Update</a>
                    <a class="btn btn-primary" href="{% url 'bp-delete' object.id %}" >Delete</a>
                </div>
                <div class="btn-group">
                    <a class="btn btn-warning" href="{% url 'bp' %}" class=>Back to Records</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}