{% extends 'app/base.html' %}
{% block content %}
<div class="reminders-page">

    <div class="row container-fluid">
        <div class="col-md-4 pl-4 mt-4 mb-4">  
            <h1>Blood Pressure Records</h1>
            <a href="{% url 'bp-create' %}" class="btn btn-lg btn-outline-primary new-reminder">New Reading</a>
        </div>

        <div class="col-md-8 reminders-page-list">
        {% for bp in bps %}
            <div class="card mb-3 text-center">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link card-link-button" href="{% url 'bp-update' bp.id %}">Update</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link card-link-button card-link-delete" href="{% url 'bp-delete' bp.id %}">Delete</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body reminder-card-body">
                    <h5 class="card-title">
                        <a href="{% url 'bp-detail' bp.id %}">{{ bp.title }}</a>
                    </h5>
                    <p class="card-text">
                        {{ bp.date|date:'d-m-Y' }} ({{ bp.time|time:'H:i' }})
                    </p>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>

    
{% if is_paginated %}
    
    {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}

{% endif %}
</div>
{% endblock content %}