{% extends 'app/base.html' %}

{% block content %}
<div class="jumbotron">

    <h1 class="display-4 jumbotron-main">ElderConnect - Caretakers' Assistant</h1>
    <p class="lead jumbotron-main">
        <em>A feature rich application to better manage patients' needs.</em>
    </p>

    <hr class="my-4">

    <div class="motivation">
        <div class="container row">
            <h3 class="motivation-header">Motivation</h3>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Ageing Population</h5>
                        <p class="card-text">
                            Is an issue that Singapore is starting to face and will continue
                            to face in
                            the future. One of the concerns of the elderly’s working children is that there will be
                            no
                            one
                            taking care of their parents at home, and hiring a domestic worker may not fit their
                            budget
                            or there
                            may be worries about elderly abuse.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Ageing Population</h5>
                        <p class="card-text">
                            Is an issue that Singapore is starting to face and will continue
                            to face in
                            the future. One of the concerns of the elderly’s working children is that there will be
                            no
                            one
                            taking care of their parents at home, and hiring a domestic worker may not fit their
                            budget
                            or there
                            may be worries about elderly abuse.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr class="my-4">

    <div class="feature-overview">
        <div class="container row">
            <h3 class="feature-overview-header">Feature Overview</h3>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Reminder System</h5>
                        <p class="card-text">
                            Mauris semper nibh id turpis hendrerit, a porta purus vestibulum. Pellentesque placerat
                            urna
                            eu dui sollicitudin luctus. Nulla vehicula, enim vitae vulputate rhoncus, lacus neque
                            euismod risus, in rutrum tortor turpis ac ligula. Donec pretium ipsum nec dolor
                            ultricies
                            finibus. Sed ac neque magna. Donec quis fermentum mauris. Nulla justo lectus, mattis
                            quis
                            ligula a, suscipit vulputate quam. Nam et semper tortor. Aenean facilisis erat in sem
                            efficitur porttitor et at ipsum. Etiam dignissim quis tortor et cursus. Praesent
                            tincidunt
                            dictum ultrices. Curabitur malesuada velit non ex suscipit convallis. Cras lorem odio,
                            molestie quis fringilla ac, commodo nec purus. Vestibulum diam sem, convallis in feugiat
                            nec, sagittis ut est. Quisque imperdiet erat ut augue dignissim, vitae finibus dui
                            mattis.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Blood Pressure Record</h5>
                        <p class="card-text">
                            Mauris semper nibh id turpis hendrerit, a porta purus vestibulum. Pellentesque placerat
                            urna
                            eu dui sollicitudin luctus. Nulla vehicula, enim vitae vulputate rhoncus, lacus neque
                            euismod risus, in rutrum tortor turpis ac ligula. Donec pretium ipsum nec dolor
                            ultricies
                            finibus. Sed ac neque magna. Donec quis fermentum mauris. Nulla justo lectus, mattis
                            quis
                            ligula a, suscipit vulputate quam. Nam et semper tortor. Aenean facilisis erat in sem
                            efficitur porttitor et at ipsum. Etiam dignissim quis tortor et cursus. Praesent
                            tincidunt
                            dictum ultrices. Curabitur malesuada velit non ex suscipit convallis. Cras lorem odio,
                            molestie quis fringilla ac, commodo nec purus. Vestibulum diam sem, convallis in feugiat
                            nec, sagittis ut est. Quisque imperdiet erat ut augue dignissim, vitae finibus dui
                            mattis.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Integrated Calendar</h5>
                        <p class="card-text">
                            Mauris semper nibh id turpis hendrerit, a porta purus vestibulum. Pellentesque placerat
                            urna
                            eu dui sollicitudin luctus. Nulla vehicula, enim vitae vulputate rhoncus, lacus neque
                            euismod risus, in rutrum tortor turpis ac ligula. Donec pretium ipsum nec dolor
                            ultricies
                            finibus. Sed ac neque magna. Donec quis fermentum mauris. Nulla justo lectus, mattis
                            quis
                            ligula a, suscipit vulputate quam. Nam et semper tortor. Aenean facilisis erat in sem
                            efficitur porttitor et at ipsum. Etiam dignissim quis tortor et cursus. Praesent
                            tincidunt
                            dictum ultrices. Curabitur malesuada velit non ex suscipit convallis. Cras lorem odio,
                            molestie quis fringilla ac, commodo nec purus. Vestibulum diam sem, convallis in feugiat
                            nec, sagittis ut est. Quisque imperdiet erat ut augue dignissim, vitae finibus dui
                            mattis.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">History</h5>
                        <p class="card-text">
                            Mauris semper nibh id turpis hendrerit, a porta purus vestibulum. Pellentesque placerat
                            urna
                            eu dui sollicitudin luctus. Nulla vehicula, enim vitae vulputate rhoncus, lacus neque
                            euismod risus, in rutrum tortor turpis ac ligula. Donec pretium ipsum nec dolor
                            ultricies
                            finibus. Sed ac neque magna. Donec quis fermentum mauris. Nulla justo lectus, mattis
                            quis
                            ligula a, suscipit vulputate quam. Nam et semper tortor. Aenean facilisis erat in sem
                            efficitur porttitor et at ipsum. Etiam dignissim quis tortor et cursus. Praesent
                            tincidunt
                            dictum ultrices. Curabitur malesuada velit non ex suscipit convallis. Cras lorem odio,
                            molestie quis fringilla ac, commodo nec purus. Vestibulum diam sem, convallis in feugiat
                            nec, sagittis ut est. Quisque imperdiet erat ut augue dignissim, vitae finibus dui
                            mattis.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}